
body .container {
  width: 100%;
  background-color: var(--purple-bg);
  padding: 68px;
}
.header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header li {
  display: inline-block;
}

.header a {
  margin: 1rem;
}

a {
  font-size: 1.12rem;
  text-decoration: none;
  color: #fff;
}

.main-content h2 {
  font-size: 2rem;
  color: var(--button-bg);
}

.main-content p {
  font-size: 1.12rem;
  color: var(--light-purple);
}