*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

:root {
  --purple-bg: #290742;
  --dark-bg: #170027;
  --button-bg: #9e6dc2;
  --white: #fff;
  --light-purple: #fbf6ff;
  --green: #4fff4b;
  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --h1-font: 2.25rem;
  --h2-font: 1.5rem;
  --p-font: 1.125rem;
}

header {
  background-color: var(--purple-bg);
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px 135px 0  135px;
  z-index: 1000;
  transition: all .35s ease;
}

.logo img{
	max-width: 100%;
	width: 161px;
	height: auto;
}

.navbar ul{
	display: flex;
	align-items: center;
}

.navbar a {
  font-family: var(--font-roboto);
  font-size: var(--p-font);
  color: var(--white);
  padding: 0 32px 0 2px;
}

.navbar a:hover{
	border-left: 2px solid var(--green);
  font-weight: 700;
}
.navbar a.active{
	border-left: 2px solid var(--green);
}
