:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}
.container-form {
  background-color: var(--form-background);
}
.header h1{
  color: var(--text-title);
}

.header h2 {
  color: var(--text-base);
}

label{
  color: var(--text-base);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}
