:root {
  --text-base: #afb6c2;
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #ffc632;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

main {
  max-height: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  color: var(--text-base);
}

.icon {
  margin: 40px 565px 126px 40px;
}

.container-form {
  display: flex;
  flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
  justify-content: flex-start;
  width: 572px;
  height: 512px;
  margin: 0 74px 194px 74px;
  padding: 55px;
  background-color: var(--form-background);
  border-radius: 4px;
}

.form {
  width: 335px;
	height: 400px;
}

.logo-in {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset {
  border: none;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--text-title);
  font-size: 24px;
  margin-bottom: 5px;
  margin-left: 10px;
}